* {
	margin:0;
}
html, body {
	height: 100%;
}

}
h1, h2, h3, h4, h6, p {
	margin-bottom: 20px;
}
body {
	background-color:;
	color: blue;
	margin-top: 0px;
}
.nav-pills {

  font-family: 'Russo One';
  font-size:2.0em;
  background-color: #e0e0e0;
  margin: 0px -15px -15px -15px;
  position: fixed;
  width: 100%;
  

}

.sect {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;

}
.subSection {
	height: 20%;
	background-color: #e0e0e0;
}
.sectOne {
	margin-top: 60px;
	background-image: url("https://images.unsplash.com/photo-1476908965434-f988d59d7abd?dpr=1&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=&bg=")

}
.sectTwo {
	margin-top: -20px;
	background-image: url("https://images.unsplash.com/photo-1490079027102-cd08f2308c73?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=")
	
}
.sectThree {
	background-image: url("https://images.unsplash.com/photo-1483068612337-c045daaca40e?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=")
}
#portfolioPic {
	display: block;
    margin: auto;
    padding-top: 25px;
    width: 30%;
    border-radius: 50%;
	}
#myName {
	font-family: 'Russo One';
	text-align: center;
	font-size: 450%;
	color: white;
	padding-top: 100px;
}
#myProfession {
	text-align: center;
	color: white;
	font-family: 'Russo One';
	padding-top: 20px;
}
#projectThumb {
	display: block;
	margin: auto;

}
#projectText {
	text-align: center;
	font-family: 'Russo One';
	color: white;

}