* {
	margin:0;
}
html, body {
	height: 100%;
}

}
h1, h2, h3, h4, h6, p {
	margin-bottom: 20px;
}
body {
	background-color:;
	color: blue;
	margin-top: 0px;
}
.nav-pills {

  font-family: 'Russo One';
  font-size:2.0em;
  background-color: grey;
  margin: 0px -15px -15px -15px;
  position: fixed;
  width: 100%;
  

}

.sect {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;

}
.subSection {
	height: 50%;
	background-color: #a5a5a5;
}
.sectOne {
	margin-top: 60px;
	background-image: url("images/pic1.jpeg")

}
.sectTwo {
	background-image: url("images/pic2.jpeg")
	
}
.sectThree {
	background-image: url("images/pic3.jpeg")
}
#portfolioPic {
	display: block;
    margin: auto;
    padding-top: 200px;
	}
#myName {
	font-family: 'Russo One';
	text-align: center;
	font-size: 400%;
	color: white;
}